# Python
__pycache__/
*.pyc

# Cache OSRM / requests
cache/

# Outputs gerados automaticamente
data/output/
output/images/
*.pkl
*.gpickle

# Resultados experimentais
data/*.csv
output/**/*.csv

# Figuras geradas automaticamente
figures/

# Sistema
.DS_Store
.env

